<div id="container">

<div id="showtitle">
<%= @challenge.title %>
</div>
<div>

<div id="nav">
	<%= link_to 'Home', challenges_path %>
	<%= link_to 'Edit', edit_challenge_path %>
        <!--<%= link_to 'Delete', @challenge, :method => :delete %>
        <%= @challenge.tag_list %>-->
</div>

<p id="showtag">

</p>

<p id="showtext">
	<%= @challenge.text %>
</p>

</div>


</div>

<ul>
  <li>
    <ziggeo class="first" ziggeo-width=320 ziggeo-height=240></ziggeo>
  </li>
</ul>

<script>
  ZiggeoApi.Events.on("submitted", function (data) {
      var flag = 0;
      for (i=0; i<videos.length; i++) {
        if (videos[i].token === data.video.token) {
          flag = 1;
          break;
        }
      }
      if (!flag) {
        videos.push(data.video);
        ZiggeoApi.Videos.update(data.video.token, data, {
          success: function (args, result) {
            //success
          },
          failure: function (args, error) {
            //failure
          }
        });
        element = "<li><ziggeo ziggeo-video='"+ data.video.token + "' ziggeo-width=320 ziggeo-height=240></ziggeo></li>";
        $('ul').append(element);
      }
  });
  
  ZiggeoApi.Events.on("recording", function(data) {
      data.video.key = $('h1').text();
  });

  $( document ).ready(function() {
    var title = $("#showtitle").text();
    if (title === "\nMake a funny face\n"){
      var data = { tags : "funny" };
    }
    else if (title == "\nBest pick up line\n") {
      var data = { tags : 'line' }
    }
    else if (title == "\nBest kiss\n") {
      var data = { tags : 'kiss' };
    }
    else if (title == "\nBest flex\n") {
      var data = { tags : 'flex' };
    }
    else if (title == "\nBest armpit farts\n") {
      var data = { tags : 'armpit' };
    }
    else if (title =="\n30 Second Poem\n") {
      var data = { tags : 'poetry' };
    }
    else if (title == "\nStaring Contest\n") {
      var data = { tags : 'stare' };
    }
    else {
      var data = { tags : 'null' };
    }
    ZiggeoApi.Videos.index(data, {
      success: function (args, result) {
        videos = result;
        for (i=0; i < videos.length; i++) {
          element = "<li><ziggeo ziggeo-video='"+ videos[i].token + "' ziggeo-width=320 ziggeo-height=240></ziggeo></li>";
          $('ul').append(element);
        }
        like_button = "<input type='image' onClick='likeFunction()' style= 'width:4em; height:2em;'src='http://www.insidefacebook.com/wp-content/uploads/2012/07/facebook_like_button_big.jpeg'/>";
        $('ziggeo').append(like_button);
      },
      failure: function (args, error) {
        alert(error);
      }
    });
  });
  
  function likeFunction(){
  }

</script>
